<!DOCTYPE html>
<html lang="en">
	<head>
	  <!-- Meta -->
	  <meta charset="utf-8">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <title>IMDB Search</title>

		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

		<style type="text/css">
			.hoverPointer {
				cursor: pointer;
			}

			.modalList {
				list-style-type: none;
			}

			.selected {
				color: gold;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<h1 class="text-center">IMDB API Explorer</h1>
			<h4 class="text-center"><a href='/favorites'>View Favorites</a></h2>
			
			<!-- Form for the search term -->		  
		  <div class="form-group">
		    <label for="search-term">Movie Search Term</label>
		    <input type="text" class="form-control" id="searchTerm" placeholder="Star Wars">
		  </div>
 			<button type="submit" class="btn btn-primary" id="searchSubmit">Search</button>

			</br>
			</br>

			<!-- Where the data table will go -->
			<div id="data_table"></div>

			<!-- Data Detail View Modal -->
			<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="detailView">
			  <div class="modal-dialog modal-lg" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
	        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	       			  <h4 class="modal-title" id="modalTitle"></h4>
	      		</div>
	      		<div class="modal-body">
	      			<ul class="modalList">
		   			 	  <li><b>Plot: </b><span id="detailPlot"></span></li>
		   			 	  <li><b>Actors: </b><span id="detailActors"></span></li>
		   			 	  <li><b>Genre: </b><span id="detailGenre"></span></li>
	   			 	  </ul>
	       		</div>
			    </div>
			  </div>
			</div>

		  <script src="/imdb_api_app.js"></script>
		  
		</body>
	</div>
</html>